<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/signedIn :: headFragment}">
    <meta charset="UTF-8">
    <title>Booking Restaurant</title>
</head>
<body>
<header  th:replace="~{fragments/signedIn :: headerFragment}"></header><br><br><br>
<h1>Booking</h1>
<div class="container">
    <form th:action="@{/restaurants/restaurant/book}" method="post" th:object="${restaurantBookingDTO}">
        <div class="input-group">
            <label class="control-label" for="restaurantName"
            >Restaurant Name</label>
            <input id="restaurantName" class="form-control" type="text" th:value="${nameOfRestaurant}" th:field="*{restaurantName}" readonly="readonly" />
            <span style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{restaurantName}">Incorrect Restaurant Name</span>
        </div><br>
        <div class="input-group">
            <label class="control-label" th:for="seatName">Seat Name</label><br>
            <select th:field="*{seatName}">
                <!--/*@thymesVar id="seatName" type="pl.warkoczewski.foodspot.model.enums.SEAT_NAME"*/-->
                <option th:each="seat_Name : ${T(pl.warkoczewski.foodspot.model.enums.SEAT_NAME).values()}" th:text="${seat_Name}" th:value="${seat_Name}"></option>
            </select>
        </div><br>
        <div class="input-group">
            <label class="control-label" th:for="amount">Amount</label>
            <input id="amount" class="form-control" type="text" th:field="*{amount}" required autofocus="autofocus">
            <span style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{amount}">Incorrect amount</span>
        </div><br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Book</button>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/signedIn :: footerFragment}"></footer>
</body>
</html>
