<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/signedIn :: headFragment}">
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<header  th:replace="~{fragments/signedIn :: headerFragment}"></header><br><br><br>
<div class="container">
    <div th:object="${seats}">
        <h2 th:text="Seats"></h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
            <tr th:each="seat : ${seats}">
                <td th:text="${seat.name}"></td>
                <td th:text="${seat.amount}"></td>
            </tr>
        </table>
    </div>
</div>
</div>
<footer th:replace="~{fragments/signedIn :: footerFragment}"></footer>
</body>
</html>
