<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/signedIn :: headFragment}">
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<header  th:replace="~{fragments/signedIn :: headerFragment}"></header><br><br><br>
<div class="container">
    <div th:if="${not #lists.isEmpty(restaurants)}">
        <h2>Restaurants</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Book</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.name}"></td>
                <td>
                <a style="color: green" th:href="@{restaurants/restaurant/view/{name}(name=${restaurant.name})}" class="btn-btn-primary">View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(restaurants)}">I am sorry there is no restaurants available</div>
</div>
<br>
<br>
<footer th:replace="~{fragments/signedIn :: footerFragment}"></footer>
</body>
</html>
