<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/toSignIn :: headFragment}">
    <meta charset="UTF-8">
    <title>Registration Success</title>
</head>
<body>
<header th:insert="~{fragments/toSignIn :: headerFragment}"></header><br><br><br>
<h1>Registered successfully!</h1>
<h1>Ready to Sign in to use our app!</h1>
<footer th:insert="~{fragments/toSignIn :: footerFragment}"></footer>
</body>
</html>
